.f-dropdown {
  outline:none;
}
.item figure {
  margin: 0.5rem;
  padding: 1rem;
  background-color: $white;
  border-right: 1px solid $iron; 
  border-bottom: 1px solid $iron;
}
.item figure figcaption * {
  line-height: 1.125;
}
.item figure .details {
 margin-top: 1rem;
}
.item figure figcaption .uppercase {
    margin-bottom: 1rem ;
    padding: 2px 0;
    background-color: $base03;
    color: $white;
  }
  .item figure figcaption .uppercase:hover {
    background-color: $base02;
    color: $white;
  }
.item figure img {
  width: 100%;
  max-width: 100%;
}
.spacing {
  padding: 1.6em 3.2em;
}
.inline-block {
  display: inline-block;
  width: auto;
  margin: 0 auto;
}
.container[role="document"] {
  max-width:120em;
  margin: 0 auto;
}
.full-h {
    min-height: 100vh;
}
.brdr-blue {
  border: 1rem solid $base03;
}
.brdr-transparent {
  border: 3rem solid transparent;
}
  .skrollr-desktop body.parallax-layout {
    height:100% !important;
    overflow-x:hidden;
  }
.skrollr-desktop .parallax-layout .container[role="document"],
.skrollr-desktop .parallax-layout div[role="main"],
.skrollr-desktop .parallax-layout article.category-parallax-layout {
    min-height:100vh;
    }
  .parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
  }
  .parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
  }
  .parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
  }
  .parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }
  .parallax-image-50 {
    height:200%;
    top:-50%;
  }
  .parallax-image-100 {
    height:100%;
    top:0;
  }
  .parallax-image.skrollable-between {
    display:block;
  }
  .no-skrollr .parallax-image-wrapper {
    display:none !important;
  }
  #skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
  }
  .gap {
    background:transparent center no-repeat;
    background-size:cover;
  }
  .skrollr .gap {
    background:transparent !important;
  }
  .gap-50 {
    height:50vh;
  }
  .gap-100, .parallax-layout .wrapper.main-footer {
    height:100vh;
  }
  .content {
    background:#fff;
  }
  .content-full {
    height:100vh;
  }
  .content-full ul{

}
.content-full ul li{

    list-style: none;
}
#progress {
  height:2%;
  background:#444;
  bottom:0;
  z-index:200;
}
#properties {
  width: 100%;
  margin: 0 auto;
}
#progress.skrollable, #properties.skrollable {
  /*
   * First-level skrollables are positioned relative to window
   */
  position:fixed;

  /*
   * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
   */
  z-index:100;
}

.skrollr-mobile .skrollable {
  /*
    May cause issues on Android default browser (see #331 on GitHub).
  */
  position:absolute;
}

.skrollable .skrollable {
  /*
   * Second-level skrollables are positioned relative their parent skrollable
   */
  position:absolute;
}

.skrollable .skrollable .skrollable {
  /*
   * Third-level (and below) skrollables are positioned static
   */
  position:static;
}
.absolute {
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
}
.fixed {
  position: fixed;
  z-index:1000;
}
.slick-slider.slider-basic {
	margin:0;
}

.wrapper {
	position: relative;
  max-width:120em;
  margin: 0 auto;
  padding: 0;
}

.padded {
padding: rem-calc(40) rem-calc(20);
}
.vert-padded {
padding: rem-calc(40) 0;
}
.wrapper.brand {
  min-height:100vh;
  max-height:1200px;
}
.wrapper.brand.CoverImage {
  padding: 0;
}
.wrapper.brand.CoverImage * {
  color: $white!important;
}
.alphalayer * {
  position: relative;
  color: $white!important;
}
.alphalayer::before {
  content:"";
  position: absolute;
  z-index:0;
  display: block;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,70,0.8);
}
.wrapper.row {
  max-width: 120em;
}
.centered  {
    position: absolute;
    z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-bar svg {
	width: 1.8rem;
	float:left;
	position: relative;
	margin: 0;
	padding: 0;
}

.ligatures {
-moz-font-feature-settings: "liga", "dlig", "swsh", "clig", "calt";
       -ms-font-feature-settings: "liga", "dlig", "swsh", "clig", "calt";
          -webkit-font-feature-settings: "liga", "dlig", "swsh", "clig", "calt";
            font-feature-settings: "liga", "dlig", "swsh", "clig", "calt";
}
.hyphen {
    text-align: justify;                
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-zone: 2.5em; 
    -webkit-hyphenate-limit-last: column;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-chars: 6 3 2;
    -moz-hyphenate-limit-zone: 2.5em;
    -moz-hyphenate-limit-last: column;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-zone: 2.5em; 
    -ms-hyphenate-limit-last: column;
    hyphenate-limit-lines: 2;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-zone: 2.5em; 
    hyphenate-limit-last: column;
}
.smallcaps { 
font-variant: small-caps;
}
.uppercase {
	text-transform: uppercase;
}
.bg-text-padding {
	padding: rem-calc(20); 
}
a.outline:link, a.outline:visited, a.outline:focus, a.outline:active {
  outline-width: 1px;
  outline-style: dotted;
  outline-offset: 0px;
      -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 
}
a.outline:link {
    outline-color: transparent;
}
a.outline:visited {
    outline-color: $violet;
} 
a.outline:hover {
  color: $base02;
  outline-width: 1px;
    outline-style: solid;
 outline-color: $base03;
 outline-offset: 5px;
}   
a.outline:focus  {
  outline-color: $yellow;
}
a.outline:active {
   outline-color: $red;
}
a {
  text-decoration: none;
  // text-decoration-color: $base02;
  // text-decoration-style: dotted;
}
.textshadow-basic {
  text-shadow: -1px -1px 1px $base3, 1px 1px 1px $base02;
}
// .mosaique:before {
//   content: '';
//   display: block;
//   position: absolute;
//   z-index:1000;
//   width:100%;
//   height:100%;
//  background: scale-color($base03, $lightness: 50%);
// opacity:0.8;
// }
// .mosaique:nth-of-type(odd):before {
//   // background: url("../assets/bg-chest/background-pattern02.png");
//   background: scale-color($base03, $lightness: 40%);
// }
// .mosaique:nth-of-type(3n+3):before {
//   // background: url("../assets/bg-chest/background-pattern03.png");
//   background: scale-color($base03, $lightness: 30%);
// }
// .mosaique:hover:before {
// z-index:-1;
//   }
  .block {
    display: block;
  }
.wrapper.seals {
    // background: url("../assets/bg-chest/background-pattern02.png") transparent;
    background-color: transparent;
    padding: rem-calc(30) 0;
  }
  .square-g {
    display: inline-block;
    vertical-align: baseline;
    padding: 0em 0.125em 0.125em 0.125em;
    background-color: $base03;
    border: 2px solid $silver;
    color: $white;
    font-size: 8rem;
    line-height: 0.75;
  }
  .seal {
    padding: 0;
  }


 img.full, .full img {
    width: 100%;
    max-width: 100%;
  }

  .seal article {
    padding: 5px;

  }
.page-numbers li {
  display: inline-block;
}